<div class='nav_item' style='padding-top: 5em'>
    <div class='row'>
      <div class='col-lg-2'>
      </div>
      <div class='col-lg-1'>
        <%= link_to 'New Note', new_note_path, class: 'btn btn-success btn-small' %>
      </div>
      <div class='col-lg-2'>
      </div>
      <div class='col-lg-1'>
        <%= link_to "#", class: "btn btn-default" do %>
          <i class="glyphicon glyphicon-triangle-left" style="color: black"></i>
          <i class="glyphicon glyphicon-triangle-right" style="color: black"></i>
      `<% end %>
      </div>
      <div class='col-lg-1'>
        <%= link_to "#", class: "btn btn-default" do %>
          <i class="glyphicon glyphicon-trash"></i>
      `<% end %>
      </div>
      <div class='col-lg-3'>
          <div class="form-group">
          <%= form_tag("/notes/search", method: "get", class: "navbar-form navbar-right") do %>
            <%= label_tag(:search_term, "Search for:") %>
            <%= text_field_tag(:search_term) %>
            <%= submit_tag("Search") %>
          <% end %>
          </div>
        </form>
        </div>
    </div>
 </div>