<nav class='navbar navbar-default navbar-fixed-top'>
  <div class='container'>
    <a href='index.html' class='navbar-brand'>WPW</a>
    <% if !logged_in? %>
    <%= link_to 'sign in', login_path %>
    <%= link_to 'register', register_path %>
    <% end  %>
    <div class="btn-group navbar-right">
      <button type="button" class="btn btn-danger">
      <% if logged_in? %><%= current_user.username %><% end %></button>
      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#"> Preferences A</a></li>
        <li><a href="#">Preferences B</a></li>
        <li><a href="#">Favorites Panel</a></li>
        <li><%= link_to "Sign out", logout_path%></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
</nav>



<div class='nav_item' style='padding-top: 5em'>
    <div class='row'>
      <div class='col-lg-2'>
      </div>
      <div class='col-lg-1'>
        <%= link_to 'New Note', new_note_path, class: 'btn btn-success btn-small' %>
      </div>
      <div class='col-lg-2'>
      </div>
      <div class='col-lg-1'>
        <%= link_to "#", class: "btn btn-default" do %>
          <i class="glyphicon glyphicon-triangle-left" style="color: black"></i>
          <i class="glyphicon glyphicon-triangle-right" style="color: black"></i>
      `<% end %>
      </div>
      <div class='col-lg-1'>
        <%= link_to "#", class: "btn btn-default" do %>
          <i class="glyphicon glyphicon-trash"></i>
      `<% end %>
      </div>
      <div class='col-lg-3'>
          <div class="form-group">
          <%= form_tag("/notes/search", method: "get", class: "navbar-form navbar-right") do %>
            <%= label_tag(:search_term, "Search for:") %>
            <%= text_field_tag(:search_term) %>
            <%= submit_tag("Search") %>
          <% end %>
          </div>
        </form>
        </div>
    </div>
 </div>



<div class='container' style='padding-top: 5em'>
    <div class='row'>
      <div class='span0 col-lg-2'>
      <div class="sidebar-nav">
            <div class="well">
            <ul class="nav nav-list"> 
              <li><%= link_to "W", folder_path(:id => 2) %></li>
              <li><%= link_to "P", folder_path(:id => 3) %></li>
              <li><%= link_to "W", folder_path(:id => 4) %></li>
            </ul>
            </div>
      </div>
      </div>
      <div class='col-lg-9'>
            <table class='table table-striped table-hover'>
              <% if logged_in? %>
                <ul id='notes'>
                <% @notes.each do |note| %>
                  <%= content_tag_for :note, :tr do %>
                    <th><%= note.subject %></th>
                    <th><%= note.body %></th>
                    <th><%= display_datetime(note.created_at)%></th> 
                  <% end %>
                <% end %>
                </ul>
              <% end %>
            </table>
        </div>
    </div>
</div>






































