<div class='container-fluid'>
<% @posts.each_slice(4) do |post| %>
  <div class="row">
    <% post.each do |p| %>
      <div class="col-lg-3 boxes">
        <h3>
          <span style='font-style: underline'><%= p.title %></span>
        </h3>
        <br>
        <p>
          <%= p.body %>
        </p>
        <small>
          <%= p.creator %>
        </small>
    </div>
    <% end %>
  </div>
<% end %>
<div class='row'>
  <div class='col-lg-6'>
    
    <%= link_to vote_post_path(post, vote: true), method: 'post' do %>
      <i class='icon-arrow-up'></i>
    <% end %>
    
    <%= post.total_votes %>
    
     <%= link_to vote_post_path(post, vote: false), method: 'post' do %>
      <i class='icon-arrow-down'></i>
    <% end %>
    </div>
    <div class='col-lg-6'>
    <%= link_to "Comment", post_path(@post), class: 'btn' %>
    </div>
    </div>
  </div>
  <div class='row'>
    # link to the eventual follow button; perhaps, place it in a div with a class of col-lg-8, and then place 2 columns # of 2 on each side, in a solid color to round out ... to make 12 ...
  </div>
  </div>
<br>
<div>
  <% if logged_in? %>
  <div class='well'>
  <%= form_for [@folder, @post] do |f| %>
    <div class='control-group'>
      <%= f.label :title %>
      <%= f.text_area :title %>
    </div>
    <div class='control-group'>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
    <div class='control-group'>
      <%= f.label :avatar, "Add Photo" %>
      <%= f.file_field :avatar %>
    </div>
  <%= f.submit "New Post" %>
  <% end %>
  <% end %>
</div>
</div>












