<h1>
  <%= @user.username %>
</h1>

<div>
  <%= image_tag @user.avatar.url %>
</div>
<div>
  <%= image_tag @user.avatar.url(:medium) %>
</div>
<div>
  <%= image_tag @user.avatar.url(:thumb) %>
</div>

<div class='stats'>
  <a href='<%= following_user_path(@user) %>'>
    <strong id='following' class='stat'>
      <%= @user.followed_users.count %>
    </strong>
    following
  </a>
   <a href='<%= followers_user_path(@user) %>'>
    <strong id='followers' class='stat'>
      <%= @user.followed_users.count %>
    </strong>
    followers
  </a>
</div>

<% render 'follow_form' if logged_in? %>

<% render 'follow' if logged_in? %>

<div class='span8'>
  <% if @user.posts.any? %>
    <h3> Posts (<%= @user.posts.count %>)</h3>
      <ol class='posts' >
        <%= render @posts %>
      </ol>
    <%= will_paginate @posts %>
  <% end %>























